@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
	.vw50 {
		padding: 100% 0 0 0;
	}
}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	.logo {
		background: url('../img/Still025-color@2x.png') center center no-repeat;
	}
	.hi-img {
		background: url('../img/Still074-color@2x.png') center center no-repeat;	
	}
	.tun {
		background: url('../img/Still082-color@2x.png') center center no-repeat;	
	}
	.zhurek {
		background: url('../img/Still048-color@2x.png') center center no-repeat;	
	}
	.pleasure {
		background: url('../img/Still077-color@2x.png') center center no-repeat;	
	}
}
