@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
	.vw50 {
		padding: 100% 0 0 0;
	}
	.hi-text {
		padding: 30px;
		height: auto;
		.center-block {
			position: static;
			transform: translate(0, 0);
		}
	}
	.copyright {
		flex-direction: column;
		align-items: center;
		a {
			padding: 10px 15px;
		}
	}
}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	body {
		font-size: 18px;
	}
	.nav {
		ul {
			font-size: 28px;
		}
	}
	.hi {
		h3 {
			font-size: 65px;
		}
	}
	.video-title {
		font-size: 32px;
	}
	.logo {
		background-image: url('/img/Still025-color@2x.png');
	}
	.hi-img {
		background-image: url('/img/about.jpg');	
	}
	.bsod {
		background-image: url('/img/videocover-bsod.jpg');
	}
	.zhurek {
		background-image: url('/img/Still048-color@2x.png');	
	}
	.pleasure {
		background-image: url('/img/Still077-color@2x.png');	
	}
}
